@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

.body {
   background: linear-gradient(90deg, rgb(46, 198, 180) 0%, rgba(116, 139, 40, 0.757) 19%, rgba(80, 202, 213, 0.77) 32%, rgba(213, 239, 96, 0.775) 58%, rgba(154, 92, 41, 0.808) 100%); 
   color: #fff;
   font-family: 'Caveat', sans-serif; 
}
.wrapper {
   overflow: hidden;  
	min-height: 100%;
	position: relative;
}
.header__title {
   font-size: 50px;
   text-align: center;
   padding: 20px;
   font-weight: 700;
   margin-bottom: 30px;
   text-shadow: 3px 5px 5px black;
}
.main_container {
   flex-wrap: wrap;
   display: flex;  
   margin: 0 auto;
   max-width: 1010px;
}
[class*="__text"] {
   color: white;
   text-shadow: 3px 5px 5px black;
   font-weight: 700;
   font-size: 30px;
}
.translate__body {
   background-color: darkblue;
   width: 200px;
   height: 200px;
   text-align: center;
   border-radius: 30px;
   margin-right: 50px;
   margin-bottom: 50px;
}
.translate__item {
   width: 200px;
   height: 200px;
   background-color: deepskyblue;
   border-radius: 30px;
}
.translate__item:hover {
   transform: translate(30px,30px);
   transition: all 0.6s  ease 0s; 
}
.scale__body {
   background-color: darkblue;
   width: 200px;
   height: 200px;
   text-align: center;
   border-radius: 50%;
   margin-right: 50px;
   margin-bottom: 50px;
}
.scale__item {
   width: 200px;
   height: 200px;
   background-color: deepskyblue;
   border-radius: 50%;
}
.scale__item:hover {
   transform: scale(0.5);
   transition: all 0.6s  ease 0s; 
}
.rotate__body {
   background-color: darkblue;
   width: 200px;
   height: 200px;
   text-align: center;
   border-radius: 30px;
   margin-right: 50px;
   margin-bottom: 50px;
}
.rotate__item {
   width: 200px;
   height: 200px;
   background-color: deepskyblue;
   border-radius: 30px;
}
.rotate__item:hover {
   transform: rotate(50deg);
   transition: all 0.6s  ease 0s; 
}                                  
.skew__body {
   background-color: darkblue;
   width: 200px;
   height: 200px;
   text-align: center;
   border-radius: 50%;
   margin-right: 50px;
   margin-bottom: 50px;
}
.skew__item {
   width: 200px;
   height: 200px;
   background-color: deepskyblue;
   border-radius: 50%;
}
.skew__item:hover {
   transform: skew(30deg,30deg);
   transition: all 0.6s  ease 0s;
}    
.origin__body {
   background-color: darkblue;
   width: 200px;
   height: 200px;
   text-align: center;
   border-radius: 30px;
   margin-right: 50px;
   margin-bottom: 50px;
}
.origin__item {
   width: 200px;
   height: 200px;
   background-color: deepskyblue;
   border-radius: 30px;
}
.origin__item:hover {
   transform-origin: top;
   transform: rotate(60deg) scale(0.5);
   transition: all 0.6s  ease 0s;
}
.perspective__body {
   background-color: darkblue;
   width: 200px;
   height: 200px;
   text-align: center;
   border-radius: 30px;
   margin-right: 50px;
   margin-bottom: 50px;
   perspective: 300px;
}
.perspective__item {
   width: 200px;
   height: 200px;
   background-color: deepskyblue;
   border-radius: 30px;  
}
.perspective__item:hover {  
   transition: all 0.6s  ease 0s;
   transform: rotateX(50deg);
}  
.perspective-origin__body {
   background-color: darkblue;
   width: 200px;
   height: 200px;
   text-align: center;
   border-radius: 30px;
   margin-right: 50px;
   margin-bottom: 50px;
   perspective: 500px;
   perspective-origin: left;
}
.perspective-origin__item {
   width: 200px;
   height: 200px;
   background-color: deepskyblue;
   border-radius: 30px;
}
.perspective-origin__item:hover {
   transition: all 0.6s  ease 0s;
   transform: rotateY(50deg);
}                                  
.backface-visibility_body {
   background-color: darkblue;
   width: 200px;
   height: 200px;
   text-align: center;
   border-radius: 30px;
   margin-right: 50px;
   margin-bottom: 50px;
   perspective: 300px; 
}
.backface-visibility__item {
   width: 200px;
   height: 200px;
   background-color: deepskyblue;
   border-radius: 30px;
   transform: rotateY(360deg); 
   transition: all 0.6s  ease 0s; 
   backface-visibility: hidden;
}
.backface-visibility_body:hover .backface-visibility__item {
   transform: rotate(0deg);
}



































